@import url('https://fonts.googleapis.com/css2?family=Inter:wght@394&display=swap');


.inter-100 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: thin;
  font-variation-settings:
    "slnt" 0;
    
}

.inter-400 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    
}

.inter-700 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-variation-settings:
    "slnt" 0;
    
}